*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --update-green:#12FD54;
    --light:#ffffff;

}

body{
    font-family: 'Poppins', sans-serif;
}

/* header{
    background-image: url(/resources/background.png);
    height: 100vh;
} */

header{
    background-image: url(/resources/cloudlyBackgroud.png);
    height: 100vh;
    
}

.header_nav{
    background: rgba(255, 255, 255, 0.11);
    /* border-radius: 16px; */  
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    height: 10vh;
    display: flex;
    align-items: center;

}

.nav-info{
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 5px;
    padding: 0 3%;
}

.nav-info img{
    width: 40px;
}   

.nav-info p{
    color: var(--light);
}

.header_container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90vh;
}

.card{
    /* From https://css.glass */
    /* From https://css.glass */
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.20);
    border-radius: 40px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
/* border: 1px solid rgba(0, 0, 0, 0.3); */
    width: 350px;
    height: 530px;
    padding: 3% 0;
    /* transition: 0.3s all;
    backface-visibility: hidden;    
    -webkit-font-smoothing:subpixel-antialiased; */

}

.card:hover{
    /* transition: 0.3s all; */
    /* transform: scale(1.01); */
    -webkit-font-smoothing:subpixel-antialiased;
}

.card-content{
    color: var(--light);
    text-align: center;
}

.card-content img{
    width: 262px;
}

.card-temperature{
    display: flex;
    justify-content: center;
    
}

.card-temperature h1{
    display: flex;
    font-size: 7rem;
    font-weight: lighter;
    line-height: 90%;
}


.ubicacion{
    font-size: 1.6rem;
    font-weight: bold;  
}

.box{
    display: flex;
    justify-content: center;
}

.box-update{
    display: flex;
    align-items: center;
    border: 1px solid var(--light);
    border-radius: 30px;
    margin-top: 3%;
    padding: 3px 16px;
    
}

span.update-circle{
  height: 4px;
  width: 5px;
  background-color: var(--update-green);
  border-radius: 50%;
  display: flex;
  margin: 5px;
}

.update{
    font-size: 0.6rem;
}

.btn-masInformacion{
    background-color: var(--update-green);
    border: transparent;
    color: white;
    border-radius: 30px;
    margin-top: 3%;
    padding: 3px 16px;
    font-size: 0.8rem;
}
